// 重写antd样式，列表表头字体加粗
// .ant-table-thead > tr > th {
//   font-weight: 600 !important;
// }
.frame-detail-page .ant-form-item-label {
  font-weight: bold !important;
}

// form中1列独占1行时样式，防止某列单独占一行时，与其他列的列标题不能对齐
.frame-form-whole-row {
  padding-left: 12px !important;
  padding-right: 36px !important;
}

// 重写antd样式，按钮增加左右间隔
.ant-btn {
  margin-left: 5px;
  margin-right: 5px;
}

// 按钮间的分割线样式
.frame-button-divider {
  height: 25px !important;
  border-color: rgb(76, 20, 218) !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.frame-button-row {
  padding-bottom: 24px;
}

.ant-table-small .ant-table-thead > tr > th {
  background-color: #dce5e9 !important;
  // background-color: #94e0ef;
}

// 重写antd样式，form表单中表单项的默认最大宽度
.ant-input-number {
  width: 100% !important;
}
.ant-picker {
  width: 100% !important;
}
// .frame-form-item {
//   width: 100%;
// }

// 重写antd样式，保证form表单中的表单项可以流式布局
// .frame-query-form .ant-form-item-label {
//   width: 120px !important;
// }
// // 重写antd样式，保证form表单中的表单项宽度
// .ant-form-item-control {
//   width: 30px !important;
// }

// // 重写antd样式，修改form表单中的表单项距离底部的高度
// .ant-form-item {
//   margin-bottom: 16px !important;
//   // margin-bottom: 24px;  // 原始值
// }

// 重写antd样式，修改分割线距离顶部和底部的高度
// .ant-divider-horizontal {
// margin: 16px 0 !important;
// margin: 24px 0;  // 原始值
// }
